<!DOCTYPE html>
<html>
<head><title>Dicton aléatoire</title></head>
<body>
    <q><%= dicton %></q>
    <nav>
        <a href="/list">Liste</a> | 
        <a href="/create">Nouveau</a>
    </nav>
</body>
</html>
