
.DS_Store
/semestre_2/PRG2/prg2_24_lab05-main/cmake-build-debug
/semestre_2/PRG2/prg2_24_lab04-main/.vscode
/semestre_2/ASD/ASD2024-L5-Liste-Simple/src/cmake-build-debug
/semestre_2/ASD/ASD2024-L6-Expressions-arithmetiques/src/cmake-build-debug
/semestre_3/PCO/labo03/code/build
/semestre_5/SLH/lab02/target
/semestre_5/SLH/labo03/lab03-biscuit/karamel/target/debug
/semestre_5/SLH/labo03/lab03-biscuit/karamel/target
