
shape/shape
.DS_Store
shape/shape.dSYM/Contents/Info.plist
shape/shape.dSYM/Contents/Resources/DWARF/shape
shape/shape.dSYM/Contents/Resources/Relocations/aarch64/shape.yml
.vscode/tasks.json
variables/variables.dSYM/Contents/Info.plist
variables/variables.dSYM/Contents/Resources/DWARF/variables
variables/variables.dSYM/Contents/Resources/Relocations/aarch64/variables.yml
variables/variables
