CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-*
build-Code-Qt*
/Code/build
Code/QTLocation.txt
Code/QTLocation.txt
.DS_Store
/Code/setup/.cmake
/Code/setup/.idea
Code/setup/build.ninja
Code/setup/.ninja_log
Code/setup/.ninja_deps
Code/setup/L3-demo
